* {
  margin: 0;
}

.container {
  display: grid;
  place-items: center;

  background-color: blue;
  color: white;

  height: 100vh;
}

.centered-content {
  background-color: red;
}

.header {
  top: 0;
  position: absolute;
  background-color: yellow;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: green;
  width: 100%;
  flex-wrap: wrap;

  display: flex;
}

.one, .three{
  width: 20%;
  background-color: crimson;
}

.two {
  width: 60%;
  background-color: blueviolet;
}

@media only screen and (max-width: 600px) {
  .two {
    width: 100%;
    order: 1;
  }

  .one, .three{
    width: 50%;
  }

  .one {
    order: 2;
  }

  .three {
    order: 3;
  }
}

